p {
    text-indent: 2em;
}

/* code {
    background-color: #23272b;
    color: #f8f9fa;
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
    font-family: "Fira Mono", "Consolas", "Monaco", monospace;
} */